/* Footer Styles */
.footer {
    background-color: rgba(0, 0, 0, 0.952);
    padding: 64px 0;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
   
}

.footer-section-left {
    width: 30%;
}

.footer-section-right {
    
    width: 30%;
    background-color: white;
    border-radius: 20px;

    padding-top:15px;
    padding-left: 17px;
    padding-right:20px;
    
    width: 305px;
    height: 200px;
}

.title-description {
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}

.title-contact {
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-bottom: 16px;
}

.footer-description{
  
    font-size: 16px;
    color: #9CA3AF;
    margin-bottom: 16px;
}

.footer-contact {
    
    font-size: 16px;
    color: black;
    margin-bottom: 16px;
}

.footer-social {
    border-radius: 20px;
    background-color: white;
    display: flex;
    gap: 20px;
    align-items: center;
  
}
 
.footer-social-image {
    width: 75px;
    height: 75px;
}


.footer-form {
    display: flex;
}

.footer-bottom {
    padding-top: 32px;
    border-top: 1px solid #1F2937;
    text-align: center;
}

.copyright {
    font-size: 16px;
    color: #9CA3AF;
}