/* Footer Styles */
.footer {
    background-color: rgba(0, 0, 0, 0.952);
    padding: 64px 0;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.footer-section {
    width: 30%;
}

.footer-title {
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}

.footer-description,
.footer-contact {
    font-size: 16px;
    color: #9CA3AF;
    margin-bottom: 16px;
}

.footer-social {
    display: flex;
    gap: 16px;
}

.footer-form {
    display: flex;
}

.footer-input {
    width: 100%;
    max-width: 256px;
    height: 40px;
    background-color: white;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #111827;
}

.footer-input::placeholder {
    color: #ADAEBC;
}

.footer-btn {
    width: 128px;
    height: 40px;
    background-color: #42b5e8;
    color: white;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.footer-bottom {
    padding-top: 32px;
    border-top: 1px solid #1F2937;
    text-align: center;
}

.copyright {
    font-size: 16px;
    color: #9CA3AF;
}